*{
    font-family: "Poppins", sans-serif;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


body{
	background-image: radial-gradient(circle at center center, transparent,rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 2px,transparent 2px, transparent 10px,rgb(33,33,33) 10px, rgb(33,33,33) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(47,47,47) 0px, rgb(47,47,47) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
	padding: 0;
	margin:0 ;
	height: 100vh;
}
header{
    position: fixed;
    display:flex;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    z-index:99;
    justify-content: space-between;
    align-items: center;
}

.wise-text{
    font-size: 2em;
    color: white;
    user-select:none;
}

.top-nav a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.top-nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: 22px;
    transform: scaleX(0);
    transition: transform .5s;
}

.top-nav a:hover::after{
    transform: scaleX(1);
}

.top-nav .githuburl{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.top-nav .githuburl:hover{
    background: #fff;
    color: black;
}

.image-container{
    display: flex;
	overflow: visible;
	justify-content: center;
    align-items: center;
	height: 100px;
	width: auto;
	
}
.wiki img {
    justify-content:center;
    margin-left: 15px;
    margin-right: 15px;
	height:50px;
	width: 50px;
	border-radius: 20%;
	transition: transform 0.3s ease-in-out;
}

.wiki:hover img {	
	transform: scale(2);
        
	
}

/*.sussy{
    position: relative;
}

.main_img{
	display: flex;
	margin-top:100px;
	margin-left:5px;
	margin-right: auto;
	vertical-align: 50px;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
	border: 2px;
	border-style:inset;
    border-color:rgb(200,200,200);
}*/

/*.central_text{
	color: black;
	display: flow-root;
	font-family: "Comic Sans MS", cursive;
	position: absolute;
	bottom: 346px;
	mix-blend-mode: multiply;
}*/

/*.box{
    position: relative;
    top:500px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 100px;
    justify-content: center;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    color:#ffffff;
    background-color: #ffffff;
    border: rgb(170,170,170) 10px inset;
    background-clip: content-box;

}*/
